<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Result</title>
</head>
<body>

    <h1><div style="text-align:center"><font color='black'>Form Result</font></div></h1>
    <hr>
    <div class="card text-center" style="max-width: 180rem;">
        <div class='card-body'>
            <p class="card-text"><h2><font color = 'red'>Organisation: {{org}}</font></h2></p>
            <p class="card-text"><h2><font color = 'red'>Category: {{cat}}</font></h2></p>
            <p class="card-text"><h2><font color = 'red'>Name : {{fname}} {{mname}} {{lname}}</font></h2></p>
            <p class="card-text"><h2><font color = 'red'>DOB: {{dob}}</font></h2></p>
            <p class="card-text"><h2><font color = 'red'>SSN: {{ssn}}</font></h2></p>
            <p class="card-text"><h2><font color = 'red'>Email: {{email}}</font></h2></p>
            <p class="card-text"><h2><font color = 'red'>Telephone Number: {{tele}}</font></h2></p>
            <p class="card-text"><h2><font color = 'red'>Street: {{street}}</font></h2></p>
            <p class="card-text"><h2><font color = 'red'>City: {{city}}</font></h2></p>
            <p class="card-text"><h2><font color = 'red'>State: {{state}}</font></h2></p>
            <p class="card-text"><h2><font color = 'red'>Sex: {{sex}}</font></h2></p>
            <p class="card-text"><h2><font color = 'red'>Account number: {{accno}}</font></h2></p>
        </div>
    </div>
</body>
</html>
